<div draggable="true" data-id="{{id}}" class="item">
    <img class="item-photo" src="{{photo_100}}">
    <div class="item-name">{{first_name}} {{last_name}}</div>
    <button class="item-button" data-role="{{role}}">{{caption}}</button>
</div>
